<html>
  <head>
    <title>Find Recipes!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
  </head>
  <body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="#">Favorites</a>
                    </li>

                </ul>
            </nav>
            <img src="{{ url_for('static', filename='cook.png') }}" height=90 width=90 style="margin:8px">
            <p="text-muted">Find Recipes!</p>
        </div>
      </div>
    <div class="container-fluid">
    {% block content %} {% endblock %}
    </div>
  </body>
</html>
