{% extends "base.html" %} 
{% block content %}
Stuff for recipes
<ul>
  <div class="span1">
          <h4>main</h4>
          <select name="postcategory">
              <option>choose a main dish</option>
              <option>Salmon</option>
              <option>Pasta</option>
              <option>Chicken</option>
              <option>Beef</option>
              <option>Starve</option>
          </select>
  <!--<li> </li>
  <li> Currency and Exchange Rates </li>
  <li> Diplomatic Representation Contact Information </li>
  <li> etc. </li> -->
</ul>
{% endblock %}
