{% extends "base.html" %} 
{% block content %}
Please select 1 main dish, 1 side dish, and 1 vegetable, or select random for each category!
<ul>
	<form class="form-inline" method="POST" action="">
	<div class="form-group">
          <select name="maindish">
              <option value="" disabled selected>Choose a main dish</option>
              <option>chicken</option>
              <option>beef</option>
              <option>turkey</option>
              <option>shrimp</option>
              <option>salmon</option>
              <option>tofu</option>
              <option>pork</option>
              <option>vegetarian</option>
              <option>random</option>
          </select>
          <select name="sidedish">
          	 <option value="" disabled selected>Choose a side dish</option>
              <option>rice</option>
              <option>potato</option>
              <option>quinoa</option>
              <option>pasta</option>
              <option>sweet potato</option>
              <option>black beans</option>
              <option>baked beans</option>
              <option>corn</option>
              <option>random</option>
          </select>
          <select name="vegetable">
          	 <option value="" disabled selected>Choose a vegetable</option>
              <option>broccoli</option>
              <option>green beans</option>
              <option>peas</option>
              <option>spinach</option>
              <option>asparagus</option>
              <option>kale</option>
              <option>brussels sprouts</option>
              <option>cauliflower</option>
              <option>random</option>
          </select>
    </div>
    <button type="submit" value="submitted" name="submit1" class="btn btn-default">Go</button>
	</form>
  <!--<li> </li>
  <li> Currency and Exchange Rates </li>
  <li> Diplomatic Representation Contact Information </li>
  <li> etc. </li> -->
</ul>
{% endblock %}
