
<!DOCTYPE html>
<a href="/"> Home </a> <br><br><br>
<html>
<head>
</head>

<body style="background-color:#546A76">

<form action = "" method = "POST">
    <!--
    First Name: <input type = "text" name = "first_name" placeholder = "First Name"><br>
    Last Name: <input type = "text" name = "last name" placeholder = "Last Name"><br> 
    -->
    Username: <input type = "text" name = "username" placeholder = "Username"><br>
    Password: <input type = "password" name = "password" placeholder = "Password"><br><br><br>
    <Button type="submit" value="submitted" name="submit1"> Register </button> 
</form>

</body>

</html>
