<!DOCTYPE html>
<html>
<head>
        <title> Login </title>
        <a href="/"> Home </a> <br><br>

</head>
<body style="background-color:#546A76">

    <div id="form">
        <form action = "***loginpagehere***" method= "POST">
                Use your username and password to login here<br><br>
                <label>Username:</label>
                <input type = "text" id = "user" name = "user" placeholder = "Username" />

                <br>

                <label>Password:</label>
                <input type = "password" id = "pass" name = "pass" placeholder = "Password" />

                   <!--  Buttons --> 

            <p>
                <input type = "Submit" id = "loginbtn" name = "Submit" value = "Login" />
            </form>

            <form action = "register.html">
                <input type = "Submit" id = "registerbtn" name = "Submit" value = "Register" />
            </form>

            </p>
    </div>


</body>
</html>
