{% extends "base.html" %}
{% block content %}
      <div class="jumbotron col-md-8 col-md-offset-2 center" style="background-color:#7C6C77; padding:10px; margin-right:40px">
        <h1 style="color:#FFC9B5">Ingredient Recipe Search</h1>
        <form class="form-signin" action = "" method = "POST">
        <button type="submit" value="submitted" name="submit4" class="btn btn-lg btn-primary btn-block" type="button" style="background-color:#546A76; border:#546A76">Sign out</button>
      </form>
      </div>
{% endblock %}
